doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.min.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    block content
    // jquery declared before bootstrap
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/bootstrap.min.js')
    